<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C0F3C4C1F3868EC00A41499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0F3C651F3868EC00A41499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0F3C701F3868EC00A41499</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
